{% extends 'base.html' %}
{% block content %}
<style>
    .body{
        background: linear-gradient(135deg, #74b9ff, #a29bfe);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="body">
<br>
<div class="container">
    <div class="row ">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h2 class="text-center mb-4">Add Staff Member</h2>
            <form method="post" action="">
                {% csrf_token %}
                <div class="card p-4 shadow-sm">
                   {{ staff_form.as_p }}
        
                <button type="submit" class="btn btn-primary " >Add Staff Member</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}